<div class="flex">
    <div>
        <h2>Guillaume ELAMBERT</h2>
        <span>© All rights are reserved | 2021 | Made by
            <a href="https://github.com/guillaume-elambert" target="_blank" rel="noopener noreferrer">Guillaume
                Elambert</a>
        </span>
    </div>
    <div class="links">
        <a href="https://github.com/guillaume-elambert" target="_blank" rel="noopener noreferrer" alt="Github logo"
            aria-label="follow me on Github">
            <img alt="Github" src="{{ 'assets/icons/github.svg' | relative_url }}" /></a>
        <a href="https://linkedin.com/in/guillaume-elambert/" target="_blank" rel="noopener noreferrer"
            alt="Linkedin logo" aria-label="follow me on Linkedin">
            <img alt="Linkedin" src="{{ 'assets/icons/linkedin.svg' | relative_url }}" />
        </a>
    </div>
</div>